.tittle{
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    border-bottom:1px solid black ;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    margin-top: 8rem;
}

.tittle_span{
    margin-left: 1.5rem;
    font-weight: 20;
}

.gallery{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content:stretch;
    align-items: center;
}

.gridPhotos{
    border-radius: 3rem;
    max-width: 80rem;
    height: auto;
    margin-top: 2rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}