.footer {
    background-color: black;
    margin-top: 7rem;
    min-height: 35rem;
    max-height: max-content;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 16px;
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(10px);
    border: 0px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.content .list {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    margin-right: 14rem;
}

.items {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.3rem;
}